<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache.kafka.streams.processor.internals" level="ERROR"/>

</configuration>